<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>HEART ATTACK PREDICTION APP</title>
<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
  <style>
div.a {
        text-align: center;
}
</style>
 <p><h1><font color="#6699CC"> HEART ATTACK PREDICTION</h1> </font></p>
</body>

<body>
  <style>
div.a {
        text-align: center;
}
</style>
<div class="a">

  <div class="login">

    <h1 class="lg-heading"><font color="#6699CC">HEART ATTACK PREDICTION</font></h1>

    <h3 class="sm-heading"><font color="#6699CC">
      Enter the required numerical inputs to get a Deep Learning
      Classification prediction for a heart attack</font>
    </h3>
    <div style="height:150px;width:600px;overflow:scroll;overflow-x:scroll;overflow-y:scroll;">
      <font color="#6699CC">
    <h5>
      <ol type="I">

        <ul class="json" class="tit3" style="list-style-type:disc;">

          <li>V1: Gender - Male = 1 Female = 0 </li>
          <li></li>
          <li>V2: age Age at exam time./li>
          <li></li>
          <li>V3: education 1 = Some High School; 2 = High School or GED; 3 = Some College or Vocational School; 4 = college</li>
          <li></li>
          <li>V4: currentSmoker 0 = nonsmoker; 1 = smoker</li>
          <li></li>
          <li>V5: cigsPerDay number of cigarettes smoked per day (estimated average)</li>
          <li></li>
          <li>V6: BPMeds0 = Not on Blood Pressure medications; 1 = Is on Blood Pressure medications</li>
          <li></li>
          <li>V7: prevalentStroke</li>
          <li></li>
          <li>V8: prevalentHyp</li>
          <li></li>
          <li>V9: diabetes 0 = No; 1 = Yes</li>
          <li></li>
          <li>V10: totCholmg/dL- 1</li>
          <li></li>
          <li>v11: sysBPmmHg</li>
          <li></li>
          <li>v12: diaBPmmHg</li>
          <li></li>
          <li>v13: BMIBody Mass Index calculated as: Weight (kg) / Height(meter-squared)</li>
          <li></li>
          <li>v14: heartRateBeats/Min (Ventricular)</li>
          <li></li>
          <li>v15: glucosemg/dL</li>
          <li></li>
          <li>v16: TenYearCHD= Heart attack within next ten years.</li>
          <!-- <li>v17: concave points se- standard error for number of concave portions of the contour</li>
          <li>v18: Symmetry se </li>
          <li>v19: fractal_dimension_sestandard error for "coastline approximation" - 1 </li>
          <li>v20: radius_worst - "worst" or largest mean value for mean of distances from center to points on the perimeter</li>
          <li>v21: texture_worst - "worst" or largest mean value for standard deviation of gray-scale values</li>
          <li>v22: Permiter Worst</li>
          <li>v23: Area Worst</li>
          <li>v24: smoothness_worst - "worst" or largest mean value for local variation in radius lengths</li>
          <li>v25:compactness_worst - "worst" or largest mean value for perimeter^2 / area - 1.0</li>
          <li>v25: concavity_worst - "worst" or largest mean value for severity of concave portions of the contour</li>
          <li>v26: concave points_worst - "worst" or largest mean value for number of concave portions of the contour</li>
          <li>v27: Symmetry Worst</li>
          <li>v28: fractal_dimension_worst"worst" or largest mean value for "coastline approximation" - 1</li? -->
        </ul>

      </ol> -->
      0 = BENIGN,
      1 = MALIGNANT,
      FALSE = MOST LIKELY WILL NOT HAVE A HEART ATTACK WITHIN NEXT 10 YEARS.
      TRUE = WILL MOST LIKELY HAVE A HEART ATTACK WITHIN THE NEXT 10 YEARS.

    </h5>
  </font>
  </div>


    <!-- Main Input For Receiving Query to our ML -->
    <div style="height:150px;width:600px;overflow:scroll;overflow-x:scroll;overflow-y:scroll;">
      <!-- border:solid 2px orange; -->

      <form action="{{ url_for('heartAttack') }}" method="post">
        <input

          type="text"

          name="Gender - Male = 1 Female = 0"

          placeholder="Gender - Male = 1 Female = 0"

          required="required"

        />
        <input

          type="text"

          name="Age"

          placeholder="Age at exam time. "

          required="required"

        />
        <input

          type="text"

          name="Education"

          placeholder=" education 1 = Some High School; 2 = High School or GED; 3 = Some College or Vocational School; 4 = college"

          required="required"

        />

        <input

          type="text"

          name="Smoker"

          placeholder="currentSmoker 0 = nonsmoker; 1 = smoker"

          required="required"

        />


        <input

          type="text"

          name="cigsPerDay"

          placeholder="cigsPerDay number of cigarettes smoked per day (estimated average)"

          required="required"

        />


        <input

          type="text"

          name="BpMeds"

          placeholder="BPMeds0 = Not on Blood Pressure medications; 1 = Is on Blood Pressure medications"

          required="required"

        />
        <input

          type="text"

          name="prevalentStroke"

          placeholder="Prevalent Stroke 1=Yes; 0=No"

          required="required"

        />
        <input

          type="text"

          name="prevalentHyp "

          placeholder="prevalentHyp "

          required="required"

        />

        <input

          type="text"

          name="diabetes"

          placeholder="diabetes 0 = No; 1 = Yes"

          required="required"

        />
        <input

          type="text"

          name="totCholmg/dL"

          placeholder="Total Cholestorol mg/dL"

          required="required"

        />
        <input

          type="text"

          name="sysBPmmHg"

          placeholder="Sys.. BPmmHg"

          required="required"

        />
        <input

          type="text"

          name="diaBPmmHg"

          placeholder="Dia..BPmmHg"

          required="required"

        />

        <input

          type="text"

          name="BMI"

          placeholder="BMIBody Mass Index calculated as: Weight (kg) / Height(meter-squared)"

          required="required"

        />
        <input

          type="text"

          name="Heart Rate"

          placeholder="heartRateBeats/Min (Ventricular)"

          required="required"

        />
        <input

          type="text"

          name="Glucose"

          placeholder="Glucose mg/dL"

          required="required"

        />
        <!-- <input

          type="text"

          name="Concavity se"

          placeholder="Concavity se"

          required="required"

        />
        <input

          type="text"

          name="Concavity Points se"

          placeholder="Concavity Points se"

          required="required"

        />
        <input

          type="text"

          name="Symmetry se"

          placeholder="Symmetry se"

          required="required"

        />
        <input

          type="text"

          name="Fractal dimension se"

          placeholder="Fractal dimension se"

          required="required"

        />
        <input

          type="text"

          name="Radius Worst"

          placeholder="Radius Worst"

          required="required"

        />

        <input

          type="text"

          name="Texture Worst"

          placeholder="Texture Worst"

          required="required"

        />
        <input

          type="text"

          name="Perimiter Worst"

          placeholder="Perimiter Worst"

          required="required"

        />
        <input

          type="text"

          name="Area Worst"

          placeholder="Area Worst"

          required="required"

        />
        <input

          type="text"

          name="Smoothness Worst"

          placeholder="Smoothness Worst"

          required="required"

        />
        <input

          type="text"

          name="Compactness Worst"

          placeholder="Compactness Worst"

          required="required"

        />
        <input

          type="text"

          name="Concavity Worst"

          placeholder="Texture Worst"

          required="required"

        />
        <input

          type="text"

          name="Concave Points Worst"

          placeholder="Concave Points Worst"

          required="required"

        />
        <input

          type="text"

          name="Symmetry Worst"

          placeholder="Symmetry Worst"

          required="required"

        />
        <input

          type="text"

          name="Fractal Dimension Worst"

          placeholder="Fractal Dimension Worst"

          required="required"

        /> -->
        <button type="submit" class="btn btn-primary btn-block btn-large">PREDICT HEART ATTACK</button>


      <font color="#FF33CC"> {{ prediction_text }} </font>

    </form>
  </div>
</div>

 <!-- </body> -->

<!-- </div> -->
</body>
</html>
